# Weather data collected using wrapper for the forecast.io API.
[Weather data Wrapper for dark sky api](https://zeevgilovitz.com/python-forecast.io/)
It allows you to get the weather for any location, now, in the past, or future. wrapper collected from dark sky API

In [14]:
import pandas as pd
import datetime
import forecastio
import getpass

In [15]:
key='b1e40b6cc81639d0a168b709c6b751eb'
api_key = getpass.getpass()

········

In [16]:
lat=37.7749
lon=-122.4194

In [17]:
attributes = ['temperature', 'summary',"windSpeed",'visibility',"apparentTemperature"]

times = []
data = {}
for attr in attributes:
    data[attr] = []

In [18]:
datetime.datetime(2017,12,31)-datetime.datetime(2017,6,27)

datetime.timedelta(187)

In [19]:

start = datetime.datetime(2017,6,27)
for offset in range(188):
    forecast = forecastio.load_forecast(key, lat, lon, time = start + datetime.timedelta(offset), units = "us")
    h = forecast.hourly()
    d = h.data
    for p in d:
        times.append(p.time)
        for attr in attributes:
            data[attr].append(p.d[attr])

In [20]:

df = pd.DataFrame(data, index=times)

In [22]:

df.head()

,temperature,summary,windSpeed,visibility,apparentTemperature
2017-06-27 07:00:00,60.06,Mostly Cloudy,5.57,10.00,60.06
2017-06-27 08:00:00,59.50,Mostly Cloudy,5.20,10.00,59.50
2017-06-27 09:00:00,58.94,Overcast,5.53,10.00,58.94
2017-06-27 10:00:00,58.41,Overcast,5.54,9.15,58.41
2017-06-27 11:00:00,58.13,Overcast,5.04,10.00,58.13

In [25]:
import pytz
pst=pytz.timezone('US/Pacific')

In [26]:
#convert utc to pst

df_time = df.tz_localize(pytz.utc).tz_convert(pst)

In [27]:
df_time.head()

,temperature,summary,windSpeed,visibility,apparentTemperature
2017-06-27 00:00:00-07:00,60.06,Mostly Cloudy,5.57,10.00,60.06
2017-06-27 01:00:00-07:00,59.50,Mostly Cloudy,5.20,10.00,59.50
2017-06-27 02:00:00-07:00,58.94,Overcast,5.53,10.00,58.94
2017-06-27 03:00:00-07:00,58.41,Overcast,5.54,9.15,58.41
2017-06-27 04:00:00-07:00,58.13,Overcast,5.04,10.00,58.13

In [28]:
df_time.summary.value_counts()

Clear            2628
Partly Cloudy     840
Mostly Cloudy     685
Overcast          315
Rain               23
Light Rain         22
Name: summary, dtype: int64

In [29]:
df_time.describe()

       temperature    windSpeed   visibility  apparentTemperature
count  4513.000000  4513.000000  4513.000000          4513.000000
mean     61.511642     3.025006     9.564343            61.502566
std       8.936832     1.801661     1.051400             8.983178
min      39.350000     0.040000     2.380000            39.350000
25%      55.870000     1.550000     9.700000            55.870000
50%      60.370000     2.750000    10.000000            60.370000
75%      66.600000     4.240000    10.000000            66.640000
max     103.750000    11.210000    10.000000           103.750000

In [34]:
#remove tz element in dt index

df_time.index[0:]

DatetimeIndex(['2017-06-27 00:00:00-07:00', '2017-06-27 01:00:00-07:00',
               '2017-06-27 02:00:00-07:00', '2017-06-27 03:00:00-07:00',
               '2017-06-27 04:00:00-07:00', '2017-06-27 05:00:00-07:00',
               '2017-06-27 06:00:00-07:00', '2017-06-27 07:00:00-07:00',
               '2017-06-27 08:00:00-07:00', '2017-06-27 09:00:00-07:00',
               ...
               '2017-12-31 14:00:00-08:00', '2017-12-31 15:00:00-08:00',
               '2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00', '2017-12-31 19:00:00-08:00',
               '2017-12-31 20:00:00-08:00', '2017-12-31 21:00:00-08:00',
               '2017-12-31 22:00:00-08:00', '2017-12-31 23:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', length=4513, freq=None)

In [35]:
#save to csv file
df_time.to_csv('weather.csv',sep=',',encoding='utf-8')